.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .crane-vectors{
    width: 300px;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.image{
    padding: 10px;
    margin-top: 10px;
    max-width: 100%;
}
.trolley{
    max-width: 50%;
} */

.hero-text{
    text-align: left;
    max-width: 800px;
    /* max-width: 600px; Reduce max-width to prevent pushing */
    margin-right: 20px; /* Adjust margin to control spacing */
    /* padding-right: 500px; */
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600px;
}

.hero-text p{
    max-width: 700px;
    font-size: 24px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

/* Media Query */

@media ( max-width: 850px ){
    .hero-text h1{
        font-size: 40px;
    }
}
@media ( max-width: 650px ){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}